version: '3.8'

services:
  # PHP + Apache service
  web:
    container_name: cbmsc_booker_web
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8084:80"
      - "8080:8080"
    volumes:
      - ./skeleton/:/var/www/html
      - ./apache.conf:/etc/apache2/sites-available/000-default.conf
    depends_on:
      - db
    environment:
      - MYSQL_HOST=db
      - MYSQL_USER=myuser
      - MYSQL_PASSWORD=mypassword
      - MYSQL_DATABASE=mydatabase
      - APP_RUNTIME_ENV=dev
    extra_hosts:
      - "host.docker.internal:host-gateway"

  # MySQL service
  db:
    container_name: cbmsc_booker_db
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: cbmsc_booker_db
    volumes:
      - pgdata:/var/lib/pgdata

  # phpMyAdmin service
  phpmyadmin:
    container_name: cbmsc_booker_phpmyadmin
    image: phpmyadmin/phpmyadmin
    ports:
      - "8085:80"
    environment:
      - PMA_HOST=db
      - PMA_USER=myuser
      - PMA_PASSWORD=mypassword
    depends_on:
      - db

volumes:
  pgdata: 