###> symfony/framework-bundle ###
# Ignorar arquivos de ambiente
.env
.env.local
.env.local.php
.env.*.local
.env.dev
/config/secrets/prod/prod.decrypt.private.php

# Ignorar diretórios gerados
/public/bundles/
/var/
/vendor/

###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###


../.DS_Store
../.idea/
migrations/Version20251103024303.php
src/AvailabilityBundle/Dto/
../vendor/

composer.json
composer.lock
config/bundles.php
symfony.lock