###> symfony/framework-bundle ###
# Ignorar arquivos de ambiente
.env
.env.local
.env.local.php
.env.*.local
.env.dev
/config/secrets/prod/prod.decrypt.private.php

# Ignorar diretórios gerados
/public/bundles/
/var/
/vendor/

###< symfony/framework-bundle ###
